Problem: https://www.kaggle.com/c/rossmann-store-sales/overview<br>
References: https://colab.research.google.com/drive/1yTF8Yzzn3jtSFVm8NQJQ8qkTGG98G25a#scrollTo=pCw6Tq60DCRI<br>
https://www.kaggle.com/code/elenapetrova/time-series-analysis-and-forecasts-with-prophet

TASK #1: UNDERSTAND THE PROBLEM STATEMENT AND BUSINESS CASE by taking a look at the 2 links above

TASK #2: IMPORT LIBRARIES AND DATASET

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [3]:
sales_train_df = pd.read_csv('../input_data/rossmann_store_sales/train.csv',parse_dates = True, low_memory = False, index_col = 'Date')
sales_train_df

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1
2015-07-31,2,5,6064,625,1,1,0,1
2015-07-31,3,5,8314,821,1,1,0,1
2015-07-31,4,5,13995,1498,1,1,0,1
2015-07-31,5,5,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...
2013-01-01,1111,2,0,0,0,0,a,1
2013-01-01,1112,2,0,0,0,0,a,1
2013-01-01,1113,2,0,0,0,0,a,1
2013-01-01,1114,2,0,0,0,0,a,1
2013-01-01,1115,2,0,0,0,0,a,1

In [4]:
stateHoliday = sales_train_df['StateHoliday']
stateHoliday.describe()

count     1017209
unique          4
top             0
freq       986159
Name: StateHoliday, dtype: object

In [5]:
# Count unique values
stateHoliday.nunique()

# List unique values
stateHoliday.unique()

# Frequency of each unique value
stateHoliday.value_counts()

StateHoliday
0    986159
a     20260
b      6690
c      4100
Name: count, dtype: int64